Repository wallabag/wallabag, pull requests merged in 2018-06, with the labels that each got.

#3646 [i18n] Occitan update
  app/Resources/CraueConfigBundle/translations/CraueConfigBundle.oc.yml
  src/Wallabag/CoreBundle/Resources/translations/messages.oc.yml
  src/Wallabag/UserBundle/Resources/translations/wallabag_user.oc.yml
Labels: Translations

#3614 Spelling: GitHub, Log out, of the dev
  src/Wallabag/CoreBundle/Resources/translations/messages.en.yml
Labels: Ready for review, Translations

#3675 Prepare 2.3.3 release
  CHANGELOG.md
  app/config/wallabag.yml
Labels: Ready for review
