Repository wallabag/wallabag, pull requests merged in 2020-10, with the labels that each got.

#4616 Translations update from Weblate
  app/Resources/CraueConfigBundle/translations/CraueConfigBundle.pt.yml
  src/Wallabag/CoreBundle/Resources/translations/messages.cs.yml
  src/Wallabag/CoreBundle/Resources/translations/messages.fa.yml
  src/Wallabag/CoreBundle/Resources/translations/messages.ja.yml
  src/Wallabag/CoreBundle/Resources/translations/messages.pt.yml
  src/Wallabag/CoreBundle/Resources/translations/validators.fa.yml
  src/Wallabag/UserBundle/Resources/translations/wallabag_user.fa.yml
Labels: Translations

#4620 Translations update from Weblate
  src/Wallabag/CoreBundle/Resources/translations/messages.ja.yml
  src/Wallabag/CoreBundle/Resources/translations/messages.pt.yml
Labels: Translations

#4623 Translations update from Weblate
  app/Resources/CraueConfigBundle/translations/CraueConfigBundle.nl.yml
  src/Wallabag/CoreBundle/Resources/translations/messages.cs.yml
  src/Wallabag/CoreBundle/Resources/translations/messages.nl.yml
  src/Wallabag/CoreBundle/Resources/translations/validators.nl.yml
  src/Wallabag/UserBundle/Resources/translations/wallabag_user.nl.yml
Labels: Translations

#4628 Update PHP deps
  composer.lock
Labels: Ready for review

#4626 Looks like when merging stuff from Weblate we lost translations
  src/Wallabag/CoreBundle/Resources/translations/messages.en.yml
  src/Wallabag/CoreBundle/Resources/translations/messages.fr.yml
Labels: Ready for review, Translations

#4629 Translations update from Weblate
  app/Resources/CraueConfigBundle/translations/CraueConfigBundle.cs.yml
  app/Resources/CraueConfigBundle/translations/CraueConfigBundle.da.yml
  app/Resources/CraueConfigBundle/translations/CraueConfigBundle.en.yml
  app/Resources/CraueConfigBundle/translations/CraueConfigBundle.fr.yml
  app/Resources/CraueConfigBundle/translations/CraueConfigBundle.hr.yml
  app/Resources/CraueConfigBundle/translations/CraueConfigBundle.ja.yml
  app/Resources/CraueConfigBundle/translations/CraueConfigBundle.nb.yml
  app/Resources/CraueConfigBundle/translations/CraueConfigBundle.nl.yml
  app/Resources/CraueConfigBundle/translations/CraueConfigBundle.oc.yml
  app/Resources/CraueConfigBundle/translations/CraueConfigBundle.pt.yml
  app/Resources/CraueConfigBundle/translations/CraueConfigBundle.ro.yml
  app/Resources/CraueConfigBundle/translations/CraueConfigBundle.uk.yml
  src/Wallabag/CoreBundle/Resources/translations/messages.da.yml
  src/Wallabag/CoreBundle/Resources/translations/messages.de.yml
  src/Wallabag/CoreBundle/Resources/translations/messages.en.yml
  src/Wallabag/CoreBundle/Resources/translations/messages.es.yml
  src/Wallabag/CoreBundle/Resources/translations/messages.fa.yml
  src/Wallabag/CoreBundle/Resources/translations/messages.fr.yml
  src/Wallabag/CoreBundle/Resources/translations/messages.hr.yml
  src/Wallabag/CoreBundle/Resources/translations/messages.hu.yml
  src/Wallabag/CoreBundle/Resources/translations/messages.it.yml
  src/Wallabag/CoreBundle/Resources/translations/messages.ja.yml
  src/Wallabag/CoreBundle/Resources/translations/messages.nl.yml
  src/Wallabag/CoreBundle/Resources/translations/messages.oc.yml
  src/Wallabag/CoreBundle/Resources/translations/messages.pl.yml
  src/Wallabag/CoreBundle/Resources/translations/messages.pt.yml
  src/Wallabag/CoreBundle/Resources/translations/messages.ro.yml
  src/Wallabag/CoreBundle/Resources/translations/messages.ru.yml
  src/Wallabag/CoreBundle/Resources/translations/messages.th.yml
  src/Wallabag/CoreBundle/Resources/translations/messages.tr.yml
  src/Wallabag/CoreBundle/Resources/translations/messages.uk.yml
  src/Wallabag/CoreBundle/Resources/translations/messages.zh.yml
  src/Wallabag/CoreBundle/Resources/translations/validators.da.yml
  src/Wallabag/CoreBundle/Resources/translations/validators.oc.yml
  src/Wallabag/CoreBundle/Resources/translations/validators.ro.yml
  src/Wallabag/CoreBundle/Resources/translations/validators.ru.yml
  src/Wallabag/CoreBundle/Resources/translations/validators.zh.yml
  src/Wallabag/UserBundle/Resources/translations/wallabag_user.oc.yml
  src/Wallabag/UserBundle/Resources/translations/wallabag_user.ru.yml
  src/Wallabag/UserBundle/Resources/translations/wallabag_user.uk.yml
Labels: Translations

#4631 Translations update from Weblate
  app/Resources/CraueConfigBundle/translations/CraueConfigBundle.hi.yml
  src/Wallabag/CoreBundle/Resources/translations/messages.hi.yml
  src/Wallabag/CoreBundle/Resources/translations/messages.ja.yml
  src/Wallabag/CoreBundle/Resources/translations/validators.hi.yml
  src/Wallabag/UserBundle/Resources/translations/wallabag_user.hi.yml
Labels: Translations

#4632 Added dutch translation to the settings
  app/config/wallabag.yml
Labels: Translations

#4639 Translations update from Weblate
  app/Resources/CraueConfigBundle/translations/CraueConfigBundle.hr.yml
  app/Resources/CraueConfigBundle/translations/CraueConfigBundle.nl.yml
  src/Wallabag/CoreBundle/Resources/translations/messages.it.yml
  src/Wallabag/CoreBundle/Resources/translations/messages.ja.yml
  src/Wallabag/CoreBundle/Resources/translations/messages.ko.yml
  src/Wallabag/CoreBundle/Resources/translations/messages.nl.yml
  src/Wallabag/CoreBundle/Resources/translations/messages.oc.yml
  src/Wallabag/CoreBundle/Resources/translations/messages.pl.yml
  src/Wallabag/CoreBundle/Resources/translations/messages.pt.yml
  src/Wallabag/CoreBundle/Resources/translations/messages.ro.yml
  src/Wallabag/CoreBundle/Resources/translations/messages.th.yml
  src/Wallabag/CoreBundle/Resources/translations/messages.zh.yml
  src/Wallabag/CoreBundle/Resources/translations/validators.fr.yml
  src/Wallabag/CoreBundle/Resources/translations/validators.ja.yml
  src/Wallabag/UserBundle/Resources/translations/wallabag_user.ko.yml
Labels: Translations

#4644 Translations update from Weblate
  app/Resources/CraueConfigBundle/translations/CraueConfigBundle.hr.yml
  app/Resources/CraueConfigBundle/translations/CraueConfigBundle.pt.yml
  src/Wallabag/CoreBundle/Resources/translations/messages.hr.yml
  src/Wallabag/CoreBundle/Resources/translations/messages.ja.yml
  src/Wallabag/CoreBundle/Resources/translations/messages.pt.yml
Labels: Translations

#4651 Translations update from Weblate
  app/Resources/CraueConfigBundle/translations/CraueConfigBundle.ja.yml
  src/Wallabag/CoreBundle/Resources/translations/messages.fa.yml
  src/Wallabag/CoreBundle/Resources/translations/messages.ja.yml
  src/Wallabag/CoreBundle/Resources/translations/messages.zh.yml
  src/Wallabag/UserBundle/Resources/translations/wallabag_user.uk.yml
Labels: Translations

#4665 Translations update from Weblate
  app/Resources/CraueConfigBundle/translations/CraueConfigBundle.tr.yml
  src/Wallabag/CoreBundle/Resources/translations/messages.de.yml
  src/Wallabag/CoreBundle/Resources/translations/messages.fr.yml
  src/Wallabag/CoreBundle/Resources/translations/messages.it.yml
  src/Wallabag/CoreBundle/Resources/translations/messages.tr.yml
Labels: Translations

#4694 Update deps
  composer.lock
  yarn.lock
Labels: Ready for review
