Repository wallabag/wallabag, pull requests merged in 2020-11, with the labels that each got.

#4700 Translations update from Weblate
  app/Resources/CraueConfigBundle/translations/CraueConfigBundle.sv.yml
  src/Wallabag/CoreBundle/Resources/translations/messages.da.yml
  src/Wallabag/CoreBundle/Resources/translations/messages.sv.yml
  src/Wallabag/CoreBundle/Resources/translations/messages.uk.yml
  src/Wallabag/CoreBundle/Resources/translations/validators.sv.yml
  src/Wallabag/UserBundle/Resources/translations/wallabag_user.pt.yml
  src/Wallabag/UserBundle/Resources/translations/wallabag_user.sv.yml
Labels: Translations

#4728 Translations update from Weblate
  src/Wallabag/CoreBundle/Resources/translations/messages.de.yml
Labels: Translations

#4735 Translations update from Weblate
  src/Wallabag/CoreBundle/Resources/translations/messages.pl.yml
Labels: Translations

#4741 Translations update from Weblate
  src/Wallabag/CoreBundle/Resources/translations/messages.es.yml
Labels: Translations

#4750 Fix nav items alignment
  app/Resources/static/themes/material/css/media_queries.scss
  app/Resources/static/themes/material/css/nav.scss
  web/wallassets/material.css
  web/wallassets/material.css.map
Labels: UI

#4753 Translations update from Weblate
  src/Wallabag/CoreBundle/Resources/translations/messages.zh.yml
Labels: Translations

#4747 Ditch Travis to use GitHub Actions
  .editorconfig
  .github/workflows/assets.yml
  .github/workflows/coding-standards.yml
  .github/workflows/continuous-integration.yml
  .github/workflows/translations.yml
  .travis.yml
  README.md
  app/config/tests/parameters_test.mysql.yml
  app/config/tests/parameters_test.pgsql.yml
Labels: Ready for review

#4754 public assets files removed from webpack
  app/Resources/static/themes/_global/img/appicon/apple-touch-icon-114.png
  app/Resources/static/themes/_global/img/appicon/apple-touch-icon-120.png
  app/Resources/static/themes/_global/img/appicon/apple-touch-icon-144.png
  app/Resources/static/themes/_global/img/appicon/apple-touch-icon-152.png
  app/Resources/static/themes/_global/img/appicon/apple-touch-icon-57.png
  app/Resources/static/themes/_global/img/appicon/apple-touch-icon-72.png
  app/Resources/static/themes/_global/img/appicon/apple-touch-icon-76.png
  app/Resources/static/themes/_global/img/appicon/apple-touch-icon.png
  app/Resources/static/themes/_global/img/appicon/favicon.ico
  app/Resources/static/themes/_global/img/logo-square.svg
  app/Resources/static/themes/_global/img/logo-w.png
  app/Resources/static/themes/_global/img/logo-wallabag.svg
  app/Resources/static/themes/_global/share.js
  src/Wallabag/CoreBundle/Resources/config/services.yml
  src/Wallabag/CoreBundle/Resources/views/base.html.twig
  src/Wallabag/CoreBundle/Resources/views/themes/baggy/Exception/error.html.twig
  src/Wallabag/CoreBundle/Resources/views/themes/baggy/layout.html.twig
  src/Wallabag/CoreBundle/Resources/views/themes/common/Entry/share.html.twig
  src/Wallabag/CoreBundle/Resources/views/themes/material/Entry/_card_list.html.twig
  src/Wallabag/CoreBundle/Resources/views/themes/material/Entry/_card_preview.html.twig
  src/Wallabag/CoreBundle/Resources/views/themes/material/Exception/error.html.twig
  src/Wallabag/CoreBundle/Resources/views/themes/material/layout.html.twig
  src/Wallabag/UserBundle/Resources/views/TwoFactor/email_auth_code.html.twig
  src/Wallabag/UserBundle/Resources/views/layout.html.twig
  web/img/appicon/apple-touch-icon-114.png
  web/img/appicon/apple-touch-icon-120.png
  web/img/appicon/apple-touch-icon-144.png
  web/img/appicon/apple-touch-icon-152.png
  web/img/appicon/apple-touch-icon-57.png
  web/img/appicon/apple-touch-icon-72.png
  web/img/appicon/apple-touch-icon-76.png
  web/img/appicon/apple-touch-icon.png
  web/img/logo-square.svg
  web/img/logo-w.png
  web/img/logo-wallabag.svg
  web/wallassets/manifest.json
  web/wallassets/public.js
  web/wallassets/public.js.map
  web/wallassets/themes/_global/img/appicon/apple-touch-icon-512.png
  web/wallassets/themes/_global/img/icons/diaspora-icon--white.png
Labels: UI

#4765 Translations update from Weblate
  src/Wallabag/CoreBundle/Resources/translations/messages.da.yml
  src/Wallabag/CoreBundle/Resources/translations/messages.de.yml
  src/Wallabag/CoreBundle/Resources/translations/messages.en.yml
  src/Wallabag/CoreBundle/Resources/translations/messages.hr.yml
  src/Wallabag/CoreBundle/Resources/translations/messages.nb.yml
  src/Wallabag/CoreBundle/Resources/translations/messages.zh.yml
Labels: Translations

#4771 Update deps (PHP & JS)
  .github/workflows/assets.yml
  composer.json
  composer.lock
  yarn.lock
Labels: Ready for review

#4361 Prepare 2.4.0 release
  CHANGELOG.md
  app/config/wallabag.yml
Labels: Ready for review
