Repository wallabag/wallabag, pull requests merged in 2021-03, with the labels that each got.

#5089 Translations update from Weblate
  src/Wallabag/CoreBundle/Resources/translations/messages.ja.yml
Labels: Translations

#5097 Translations update from Weblate
  src/Wallabag/CoreBundle/Resources/translations/messages.es.yml
Labels: Translations

#5111 Convert tag label to lowercase in RuleBasedTagger
  src/Wallabag/CoreBundle/Helper/RuleBasedTagger.php
  tests/Wallabag/CoreBundle/Helper/RuleBasedTaggerTest.php
Labels: Ready for review

#5113 Fix myreadspeed links
  src/Wallabag/CoreBundle/Resources/views/themes/baggy/Config/index.html.twig
  src/Wallabag/CoreBundle/Resources/views/themes/material/Config/index.html.twig
Labels: Upstream

#5110 Translations update from Weblate
  app/Resources/CraueConfigBundle/translations/CraueConfigBundle.an.yml
  app/Resources/CraueConfigBundle/translations/CraueConfigBundle.el.yml
  app/Resources/CraueConfigBundle/translations/CraueConfigBundle.eu.yml
  src/Wallabag/CoreBundle/Resources/translations/messages.an.yml
  src/Wallabag/CoreBundle/Resources/translations/messages.el.yml
  src/Wallabag/CoreBundle/Resources/translations/messages.eu.yml
  src/Wallabag/CoreBundle/Resources/translations/messages.fr.yml
  src/Wallabag/CoreBundle/Resources/translations/validators.an.yml
  src/Wallabag/CoreBundle/Resources/translations/validators.el.yml
  src/Wallabag/CoreBundle/Resources/translations/validators.eu.yml
  src/Wallabag/UserBundle/Resources/translations/wallabag_user.an.yml
  src/Wallabag/UserBundle/Resources/translations/wallabag_user.el.yml
  src/Wallabag/UserBundle/Resources/translations/wallabag_user.eu.yml
Labels: Translations

#5123 Translations update from Weblate
  app/Resources/CraueConfigBundle/translations/CraueConfigBundle.el.yml
  src/Wallabag/CoreBundle/Resources/translations/messages.el.yml
  src/Wallabag/CoreBundle/Resources/translations/messages.fr.yml
  src/Wallabag/CoreBundle/Resources/translations/validators.el.yml
  src/Wallabag/UserBundle/Resources/translations/wallabag_user.el.yml
Labels: Translations

#5155 Prepare 2.4.2 release
  CHANGELOG.md
  app/config/wallabag.yml
  composer.lock
Labels: Ready for review
