Repository wallabag/wallabag, pull requests merged in 2021-08, with the labels that each got.

#5202 Pagination style updated
  app/Resources/static/themes/material/css/dark_theme.scss
  app/Resources/static/themes/material/css/entries.scss
  web/wallassets/material.css
  web/wallassets/material.css.map
Labels: Ready for review, UI

#5376 Fixed unavailable russian website in test
  tests/Wallabag/CoreBundle/Controller/EntryControllerTest.php
Labels: Ready for review, Tests

#5187 Translations update from Weblate
  app/Resources/CraueConfigBundle/translations/CraueConfigBundle.cs.yml
  app/Resources/CraueConfigBundle/translations/CraueConfigBundle.ko.yml
  app/Resources/CraueConfigBundle/translations/CraueConfigBundle.pt.yml
  src/Wallabag/CoreBundle/Resources/translations/messages.cs.yml
  src/Wallabag/CoreBundle/Resources/translations/messages.gl.yml
  src/Wallabag/CoreBundle/Resources/translations/messages.hr.yml
  src/Wallabag/CoreBundle/Resources/translations/messages.ko.yml
  src/Wallabag/CoreBundle/Resources/translations/messages.pl.yml
  src/Wallabag/CoreBundle/Resources/translations/messages.pt.yml
  src/Wallabag/CoreBundle/Resources/translations/messages.ru.yml
  src/Wallabag/CoreBundle/Resources/translations/messages.uk.yml
  src/Wallabag/CoreBundle/Resources/translations/validators.cs.yml
  src/Wallabag/CoreBundle/Resources/translations/validators.ko.yml
  src/Wallabag/UserBundle/Resources/translations/wallabag_user.cs.yml
  src/Wallabag/UserBundle/Resources/translations/wallabag_user.de.yml
  src/Wallabag/UserBundle/Resources/translations/wallabag_user.ko.yml
  src/Wallabag/UserBundle/Resources/translations/wallabag_user.pt.yml
Labels: Translations

#5261 Improve performance of REST exists call
  src/Wallabag/ApiBundle/Controller/EntryRestController.php
  src/Wallabag/CoreBundle/Repository/EntryRepository.php
Labels: Improvement, Ready for review, API

#5347 Make RSS feed entry links valid and accessible
  src/Wallabag/CoreBundle/Resources/views/themes/common/Entry/entries.xml.twig
Labels: Improvement

#5379 Fixed search on homepage
  src/Wallabag/CoreBundle/Repository/EntryRepository.php
Labels: Bug, Ready for review
