Repository wallabag/wallabag, pull requests merged in 2021-02, with the labels that each got.

#4969 Fix account dropdown width
  app/Resources/static/themes/material/css/nav.scss
  web/wallassets/material.css
  web/wallassets/material.css.map
Labels: UI

#5014 Translations update from Weblate
  src/Wallabag/CoreBundle/Resources/translations/messages.tr.yml
  tests/Wallabag/CoreBundle/Controller/EntryControllerTest.php
Labels: Translations

#5022 Add Delicious import
  app/config/config.yml
  src/Wallabag/CoreBundle/Resources/translations/messages.en.yml
  src/Wallabag/ImportBundle/Command/ImportCommand.php
  src/Wallabag/ImportBundle/Command/RedisWorkerCommand.php
  src/Wallabag/ImportBundle/Controller/DeliciousController.php
  src/Wallabag/ImportBundle/Controller/ImportController.php
  src/Wallabag/ImportBundle/Import/DeliciousImport.php
  src/Wallabag/ImportBundle/Resources/config/rabbit.yml
  src/Wallabag/ImportBundle/Resources/config/redis.yml
  src/Wallabag/ImportBundle/Resources/config/services.yml
  src/Wallabag/ImportBundle/Resources/views/Delicious/index.html.twig
  tests/Wallabag/ImportBundle/Controller/DeliciousControllerTest.php
  tests/Wallabag/ImportBundle/Controller/ImportControllerTest.php
  tests/Wallabag/ImportBundle/fixtures/chrome-bookmarks
  tests/Wallabag/ImportBundle/fixtures/delicious_export.2021.02.06_21.10.json
  tests/Wallabag/ImportBundle/fixtures/elcurator.json
  tests/Wallabag/ImportBundle/fixtures/firefox-bookmarks.json
  tests/Wallabag/ImportBundle/fixtures/pinboard_export
  tests/Wallabag/ImportBundle/fixtures/readability-read.json
  tests/Wallabag/ImportBundle/fixtures/readability.json
  tests/Wallabag/ImportBundle/fixtures/wallabag-v1-read.json
  tests/Wallabag/ImportBundle/fixtures/wallabag-v1.json
  tests/Wallabag/ImportBundle/fixtures/wallabag-v2-read.json
  tests/Wallabag/ImportBundle/fixtures/wallabag-v2.json
Labels: Ready for review

#5046 Translations update from Weblate
  src/Wallabag/CoreBundle/Resources/translations/messages.cs.yml
Labels: Translations

#5086 Translations update from Weblate
  src/Wallabag/CoreBundle/Resources/translations/messages.gl.yml
Labels: Translations
