Repository wallabag/wallabag, pull requests merged in 2022-06, with the labels that each got.

#5846 Translations update from Hosted Weblate
  src/Wallabag/CoreBundle/Resources/translations/messages.fr.yml
  src/Wallabag/CoreBundle/Resources/translations/messages.hu.yml
  src/Wallabag/CoreBundle/Resources/translations/messages.it.yml
  src/Wallabag/CoreBundle/Resources/translations/messages.oc.yml
  src/Wallabag/CoreBundle/Resources/translations/messages.pl.yml
  src/Wallabag/CoreBundle/Resources/translations/messages.pt.yml
  src/Wallabag/CoreBundle/Resources/translations/messages.th.yml
Labels: Translations

#5840 material: fix "untagged entries" chip style
  app/Resources/static/themes/material/css/cards.scss
  web/wallassets/material.css
  web/wallassets/material.css.map
Labels: UI, Ready for review

#5850 Translations update from Hosted Weblate
  src/Wallabag/CoreBundle/Resources/translations/messages.fr.yml
Labels: Translations

#5851 Automatically create the package after a release
  .github/workflows/upload-release-package.yml
  RELEASE_PROCESS.md
  scripts/release.sh
Labels: Ready for review

#5854 Translations update from Hosted Weblate
  app/Resources/CraueConfigBundle/translations/CraueConfigBundle.hr.yml
  src/Wallabag/CoreBundle/Resources/translations/messages.hr.yml
  src/Wallabag/CoreBundle/Resources/translations/messages.pt.yml
Labels: Translations

#5862 Translations update from Hosted Weblate
  src/Wallabag/CoreBundle/Resources/translations/messages.de.yml
Labels: Translations

#5861 Add tag deletion from tags list
  app/Resources/static/themes/material/css/cards.scss
  src/Wallabag/CoreBundle/Controller/TagController.php
  src/Wallabag/CoreBundle/Resources/translations/messages.en.yml
  src/Wallabag/CoreBundle/Resources/translations/messages.fr.yml
  src/Wallabag/CoreBundle/Resources/views/themes/material/Tag/tags.html.twig
  tests/Wallabag/CoreBundle/Controller/TagControllerTest.php
  web/wallassets/material.css
  web/wallassets/material.css.map
Labels: Ready for review
