Repository wallabag/wallabag, pull requests merged in 2022-11, with the labels that each got.

#6049 Translations update from Hosted Weblate
  app/Resources/CraueConfigBundle/translations/CraueConfigBundle.ca.yml
  src/Wallabag/CoreBundle/Resources/translations/messages.ca.yml
  src/Wallabag/CoreBundle/Resources/translations/validators.ca.yml
  src/Wallabag/UserBundle/Resources/translations/wallabag_user.ca.yml
Labels: Translations

#6047 Removed Carrot & Scuttle share
  app/Resources/CraueConfigBundle/translations/CraueConfigBundle.cs.yml
  app/Resources/CraueConfigBundle/translations/CraueConfigBundle.da.yml
  app/Resources/CraueConfigBundle/translations/CraueConfigBundle.de.yml
  app/Resources/CraueConfigBundle/translations/CraueConfigBundle.el.yml
  app/Resources/CraueConfigBundle/translations/CraueConfigBundle.en.yml
  app/Resources/CraueConfigBundle/translations/CraueConfigBundle.es.yml
  app/Resources/CraueConfigBundle/translations/CraueConfigBundle.fa.yml
  app/Resources/CraueConfigBundle/translations/CraueConfigBundle.fr.yml
  app/Resources/CraueConfigBundle/translations/CraueConfigBundle.gl.yml
  app/Resources/CraueConfigBundle/translations/CraueConfigBundle.hr.yml
  app/Resources/CraueConfigBundle/translations/CraueConfigBundle.hu.yml
  app/Resources/CraueConfigBundle/translations/CraueConfigBundle.id.yml
  app/Resources/CraueConfigBundle/translations/CraueConfigBundle.it.yml
  app/Resources/CraueConfigBundle/translations/CraueConfigBundle.ja.yml
  app/Resources/CraueConfigBundle/translations/CraueConfigBundle.ko.yml
  app/Resources/CraueConfigBundle/translations/CraueConfigBundle.nb.yml
  app/Resources/CraueConfigBundle/translations/CraueConfigBundle.nl.yml
  app/Resources/CraueConfigBundle/translations/CraueConfigBundle.oc.yml
  app/Resources/CraueConfigBundle/translations/CraueConfigBundle.pl.yml
  app/Resources/CraueConfigBundle/translations/CraueConfigBundle.pt.yml
  app/Resources/CraueConfigBundle/translations/CraueConfigBundle.ro.yml
  app/Resources/CraueConfigBundle/translations/CraueConfigBundle.ru.yml
  app/Resources/CraueConfigBundle/translations/CraueConfigBundle.th.yml
  app/Resources/CraueConfigBundle/translations/CraueConfigBundle.tr.yml
  app/Resources/CraueConfigBundle/translations/CraueConfigBundle.uk.yml
  app/Resources/CraueConfigBundle/translations/CraueConfigBundle.zh.yml
  app/Resources/CraueConfigBundle/translations/CraueConfigBundle.zh_Hant.yml
  app/Resources/static/themes/baggy/css/main.css
  app/Resources/static/themes/baggy/css/pictos.scss
  app/Resources/static/themes/material/css/icons.scss
  app/config/wallabag.yml
  src/Wallabag/CoreBundle/Resources/views/themes/baggy/Entry/entry.html.twig
  src/Wallabag/CoreBundle/Resources/views/themes/material/Entry/entry.html.twig
  web/wallassets/baggy.css
  web/wallassets/baggy.css.map
  web/wallassets/manifest.json
  web/wallassets/material.css
  web/wallassets/material.css.map
Labels: Ready for review

#4332 Remove old, not so maintained and buggy baggy theme
  app/DoctrineMigrations/Version20200414120227.php
  app/Resources/static/themes/_global/img/icons/carrot-icon--black.png
  app/Resources/static/themes/_global/img/icons/carrot-icon--white.png
  app/Resources/static/themes/baggy/css/article.scss
  app/Resources/static/themes/baggy/css/guide.scss
  app/Resources/static/themes/baggy/css/index.scss
  app/Resources/static/themes/baggy/css/layout.scss
  app/Resources/static/themes/baggy/css/login.scss
  app/Resources/static/themes/baggy/css/main.css
  app/Resources/static/themes/baggy/css/media_queries.scss
  app/Resources/static/themes/baggy/css/messages.scss
  app/Resources/static/themes/baggy/css/pictos.scss
  app/Resources/static/themes/baggy/css/print.scss
  app/Resources/static/themes/baggy/css/ratatouille.scss
  app/Resources/static/themes/baggy/css/save.scss
  app/Resources/static/themes/baggy/img/blank.png
  app/Resources/static/themes/baggy/img/down.png
  app/Resources/static/themes/baggy/img/list.png
  app/Resources/static/themes/baggy/img/table.png
  app/Resources/static/themes/baggy/img/top.png
  app/Resources/static/themes/baggy/index.js
  app/Resources/static/themes/baggy/js/autoCompleteTags.js
  app/Resources/static/themes/baggy/js/shortcuts/entry.js
  app/Resources/static/themes/baggy/js/shortcuts/main.js
  app/Resources/static/themes/baggy/js/uiTools.js
  app/config/config.yml
  app/config/webpack/common.js
  src/Wallabag/CoreBundle/Helper/DetectActiveTheme.php
  src/Wallabag/CoreBundle/Resources/views/themes/baggy/Config/index.html.twig
  src/Wallabag/CoreBundle/Resources/views/themes/baggy/Config/otp_app.html.twig
  src/Wallabag/CoreBundle/Resources/views/themes/baggy/Entry/edit.html.twig
  src/Wallabag/CoreBundle/Resources/views/themes/baggy/Entry/entries.html.twig
  src/Wallabag/CoreBundle/Resources/views/themes/baggy/Entry/entry.html.twig
  src/Wallabag/CoreBundle/Resources/views/themes/baggy/Entry/new.html.twig
  src/Wallabag/CoreBundle/Resources/views/themes/baggy/Entry/new_form.html.twig
  src/Wallabag/CoreBundle/Resources/views/themes/baggy/Entry/search_form.html.twig
  src/Wallabag/CoreBundle/Resources/views/themes/baggy/Exception/error.html.twig
  src/Wallabag/CoreBundle/Resources/views/themes/baggy/IgnoreOriginInstanceRule/edit.html.twig
  src/Wallabag/CoreBundle/Resources/views/themes/baggy/IgnoreOriginInstanceRule/index.html.twig
  src/Wallabag/CoreBundle/Resources/views/themes/baggy/IgnoreOriginInstanceRule/new.html.twig
  src/Wallabag/CoreBundle/Resources/views/themes/baggy/Mail/forgotPassword.txt.twig
  src/Wallabag/CoreBundle/Resources/views/themes/baggy/README.md
  src/Wallabag/CoreBundle/Resources/views/themes/baggy/SiteCredential/edit.html.twig
  src/Wallabag/CoreBundle/Resources/views/themes/baggy/SiteCredential/index.html.twig
  src/Wallabag/CoreBundle/Resources/views/themes/baggy/SiteCredential/new.html.twig
  src/Wallabag/CoreBundle/Resources/views/themes/baggy/Tag/new_form.html.twig
  src/Wallabag/CoreBundle/Resources/views/themes/baggy/Tag/tags.html.twig
  src/Wallabag/CoreBundle/Resources/views/themes/baggy/layout.html.twig
  src/Wallabag/CoreBundle/Resources/views/themes/baggy/screenshot.jpg
  src/Wallabag/CoreBundle/Resources/views/themes/material/Config/index.html.twig
  src/Wallabag/CoreBundle/Resources/views/themes/material/Entry/new.html.twig
  tests/Wallabag/CoreBundle/Controller/ConfigControllerTest.php
  tests/Wallabag/CoreBundle/Controller/EntryControllerTest.php
  tests/Wallabag/UserBundle/EventListener/CreateConfigListenerTest.php
  web/wallassets/manifest.json
Labels: UI, Ready for review

#6054 Translations update from Hosted Weblate
  src/Wallabag/CoreBundle/Resources/translations/messages.ca.yml
Labels: Translations

#6060 Translations update from Hosted Weblate
  src/Wallabag/CoreBundle/Resources/translations/messages.pl.yml
  src/Wallabag/CoreBundle/Resources/translations/messages.tr.yml
  src/Wallabag/CoreBundle/Resources/translations/messages.zh.yml
Labels: Translations

#6063 Translations update from Hosted Weblate
  src/Wallabag/CoreBundle/Resources/translations/messages.ca.yml
  src/Wallabag/CoreBundle/Resources/translations/messages.hr.yml
Labels: Translations

#6073 Translations update from Hosted Weblate
  src/Wallabag/CoreBundle/Resources/translations/messages.gl.yml
Labels: Translations

#6062 Switch to Swagger for api documentation
  app/config/config.yml
  app/config/routing.yml
  composer.json
  composer.lock
  src/Wallabag/ApiBundle/Controller/AnnotationRestController.php
  src/Wallabag/ApiBundle/Controller/ConfigRestController.php
  src/Wallabag/ApiBundle/Controller/EntryRestController.php
  src/Wallabag/ApiBundle/Controller/SearchRestController.php
  src/Wallabag/ApiBundle/Controller/TagRestController.php
  src/Wallabag/ApiBundle/Controller/TaggingRuleRestController.php
  src/Wallabag/ApiBundle/Controller/UserRestController.php
  src/Wallabag/ApiBundle/Controller/WallabagRestController.php
  src/Wallabag/CoreBundle/Resources/views/themes/common/Developer/howto_app.html.twig
  src/Wallabag/CoreBundle/Resources/views/themes/common/Developer/index.html.twig
Labels: Ready for review, feat: api

#6085 Remove some deprecation
  app/config/services.yml
  src/Wallabag/CoreBundle/Event/Listener/UserLocaleListener.php
  src/Wallabag/CoreBundle/GuzzleSiteAuthenticator/GrabySiteConfigBuilder.php
  src/Wallabag/CoreBundle/Helper/PreparePagerForEntries.php
  src/Wallabag/CoreBundle/Helper/Redirect.php
  src/Wallabag/UserBundle/EventListener/CreateConfigListener.php
Labels: Ready for review

#6095 Remove deprecated options from FOSRest
  app/config/config.yml
  app/config/routing.yml
  app/config/routing_rest.yml
  app/config/services.yml
  src/Wallabag/AnnotationBundle/Controller/WallabagAnnotationController.php
  src/Wallabag/AnnotationBundle/Resources/config/routing_annotations.yml
  src/Wallabag/ApiBundle/Controller/AnnotationRestController.php
  src/Wallabag/ApiBundle/Controller/ConfigRestController.php
  src/Wallabag/ApiBundle/Controller/EntryRestController.php
  src/Wallabag/ApiBundle/Controller/SearchRestController.php
  src/Wallabag/ApiBundle/Controller/TagRestController.php
  src/Wallabag/ApiBundle/Controller/TaggingRuleRestController.php
  src/Wallabag/ApiBundle/Controller/UserRestController.php
  src/Wallabag/ApiBundle/Controller/WallabagRestController.php
Labels: Ready for review

#6098 Upgrade PHPStan and move to level 2 with baseline
  .github/dependabot.yml
  composer.json
  composer.lock
  phpstan-baseline.neon
  phpstan.neon
  src/Wallabag/AnnotationBundle/Controller/WallabagAnnotationController.php
  src/Wallabag/AnnotationBundle/Repository/AnnotationRepository.php
  src/Wallabag/ApiBundle/Controller/DeveloperController.php
  src/Wallabag/ApiBundle/Controller/EntryRestController.php
  src/Wallabag/ApiBundle/Controller/TagRestController.php
  src/Wallabag/ApiBundle/Controller/UserRestController.php
  src/Wallabag/ApiBundle/Controller/WallabagRestController.php
  src/Wallabag/ApiBundle/Entity/AccessToken.php
  src/Wallabag/ApiBundle/Entity/AuthCode.php
  src/Wallabag/ApiBundle/Entity/RefreshToken.php
  src/Wallabag/ApiBundle/Repository/ClientRepository.php
  src/Wallabag/CoreBundle/Command/GenerateUrlHashesCommand.php
  src/Wallabag/CoreBundle/Command/InstallCommand.php
  src/Wallabag/CoreBundle/Command/TagAllCommand.php
  src/Wallabag/CoreBundle/Controller/ConfigController.php
  src/Wallabag/CoreBundle/Controller/EntryController.php
  src/Wallabag/CoreBundle/Controller/IgnoreOriginInstanceRuleController.php
  src/Wallabag/CoreBundle/Controller/SiteCredentialController.php
  src/Wallabag/CoreBundle/Controller/TagController.php
  src/Wallabag/CoreBundle/Event/Listener/UserLocaleListener.php
  src/Wallabag/CoreBundle/Form/Type/EntryFilterType.php
  src/Wallabag/CoreBundle/Helper/EntriesExport.php
  src/Wallabag/CoreBundle/Helper/HttpClientFactory.php
  src/Wallabag/CoreBundle/Helper/PreparePagerForEntries.php
  src/Wallabag/CoreBundle/Helper/Redirect.php
  src/Wallabag/CoreBundle/ParamConverter/UsernameFeedTokenConverter.php
  src/Wallabag/CoreBundle/Repository/ConfigRepository.php
  src/Wallabag/CoreBundle/Repository/EntryRepository.php
  src/Wallabag/CoreBundle/Repository/SiteCredentialRepository.php
  src/Wallabag/CoreBundle/Repository/TagRepository.php
  src/Wallabag/CoreBundle/Twig/WallabagExtension.php
  src/Wallabag/ImportBundle/Command/ImportCommand.php
  src/Wallabag/ImportBundle/Command/RedisWorkerCommand.php
  src/Wallabag/UserBundle/Controller/ManageController.php
  src/Wallabag/UserBundle/Repository/UserRepository.php
  tests/Wallabag/AnnotationBundle/WallabagAnnotationTestCase.php
  tests/Wallabag/ApiBundle/WallabagApiTestCase.php
  tests/Wallabag/CoreBundle/Controller/ConfigControllerTest.php
  tests/Wallabag/CoreBundle/Helper/RedirectTest.php
Labels: Ready for review

#6099 Upgrade to Symfony 4.4
  app/config/services.yml
  composer.json
  composer.lock
  phpstan.neon
  src/Wallabag/ApiBundle/Controller/EntryRestController.php
  src/Wallabag/CoreBundle/Controller/EntryController.php
  tests/Wallabag/ApiBundle/Controller/DeveloperControllerTest.php
  tests/Wallabag/ApiBundle/Controller/EntryRestControllerTest.php
  tests/Wallabag/CoreBundle/Command/CleanDuplicatesCommandTest.php
  tests/Wallabag/CoreBundle/Command/ExportCommandTest.php
  tests/Wallabag/CoreBundle/Command/GenerateUrlHashesCommandTest.php
  tests/Wallabag/CoreBundle/Command/InstallCommandTest.php
  tests/Wallabag/CoreBundle/Command/ListUserCommandTest.php
  tests/Wallabag/CoreBundle/Command/ReloadEntryCommandTest.php
  tests/Wallabag/CoreBundle/Command/ShowUserCommandTest.php
  tests/Wallabag/CoreBundle/Command/TagAllCommandTest.php
  tests/Wallabag/CoreBundle/Controller/ConfigControllerTest.php
  tests/Wallabag/CoreBundle/Controller/EntryControllerTest.php
  tests/Wallabag/CoreBundle/Controller/ExportControllerTest.php
  tests/Wallabag/CoreBundle/Controller/FeedControllerTest.php
  tests/Wallabag/CoreBundle/Controller/IgnoreOriginInstanceRuleControllerTest.php
  tests/Wallabag/CoreBundle/Controller/SecurityControllerTest.php
  tests/Wallabag/CoreBundle/Controller/SettingsControllerTest.php
  tests/Wallabag/CoreBundle/Controller/SiteCredentialControllerTest.php
  tests/Wallabag/CoreBundle/Controller/StaticControllerTest.php
  tests/Wallabag/CoreBundle/Controller/TagControllerTest.php
  tests/Wallabag/CoreBundle/GuzzleSiteAuthenticator/GrabySiteConfigBuilderTest.php
  tests/Wallabag/CoreBundle/WallabagCoreTestCase.php
  tests/Wallabag/ImportBundle/Command/ImportCommandTest.php
  tests/Wallabag/ImportBundle/Command/RedisWorkerCommandTest.php
  tests/Wallabag/ImportBundle/Controller/ChromeControllerTest.php
  tests/Wallabag/ImportBundle/Controller/DeliciousControllerTest.php
  tests/Wallabag/ImportBundle/Controller/ElcuratorControllerTest.php
  tests/Wallabag/ImportBundle/Controller/FirefoxControllerTest.php
  tests/Wallabag/ImportBundle/Controller/ImportControllerTest.php
  tests/Wallabag/ImportBundle/Controller/InstapaperControllerTest.php
  tests/Wallabag/ImportBundle/Controller/PinboardControllerTest.php
  tests/Wallabag/ImportBundle/Controller/PocketControllerTest.php
  tests/Wallabag/ImportBundle/Controller/ReadabilityControllerTest.php
  tests/Wallabag/ImportBundle/Controller/WallabagV1ControllerTest.php
  tests/Wallabag/ImportBundle/Controller/WallabagV2ControllerTest.php
  tests/Wallabag/UserBundle/Controller/ManageControllerTest.php
  tests/Wallabag/UserBundle/EventListener/AuthenticationFailureListenerTest.php
Labels: Ready for review
