Repository wallabag/wallabag, pull requests merged in 2024-03, with the labels that each got.

#7325 Translations update from Hosted Weblate
  translations/messages.zh_Hant.yml
Labels: Translations

#7323 Use a proper "how to" for elCurator
  src/Wallabag/ImportBundle/Resources/views/Elcurator/index.html.twig
  translations/messages.en.yml
  translations/messages.fr.yml
Labels: Ready for review, feat: import

#7329 Translations update from Hosted Weblate
  translations/messages.zh_Hant.yml
Labels: Translations

#7330 Translations update from Hosted Weblate
  translations/messages.zh_Hant.yml
Labels: Translations

#7331 Translations update from Hosted Weblate
  translations/messages.zh_Hant.yml
Labels: Translations

#7334 Translations update from Hosted Weblate
  translations/messages.zh_Hant.yml
Labels: Translations

#7343 Translations update from Hosted Weblate
  translations/CraueConfigBundle.zh_Hant.yml
  translations/messages.gl.yml
  translations/messages.zh_Hant.yml
Labels: Translations

#7354 Translations update from Hosted Weblate
  translations/CraueConfigBundle.zh_Hant.yml
  translations/messages.zh_Hant.yml
Labels: Translations

#7364 Translations update from Hosted Weblate
  translations/messages.zh_Hant.yml
Labels: Translations

#7360 Use IsGranted in UserController
  app/config/security.yml
  src/Controller/UserController.php
  src/Security/Voter/AdminVoter.php
  src/Security/Voter/UserVoter.php
  templates/User/edit.html.twig
  templates/User/index.html.twig
  templates/layout.html.twig
  tests/Security/Voter/AdminVoterTest.php
  tests/Security/Voter/UserVoterTest.php
Labels: Ready for review

#7365 Use IsGranted in IgnoreOriginInstanceRuleController
  app/config/security.yml
  src/Controller/IgnoreOriginInstanceRuleController.php
  src/Security/Voter/AdminVoter.php
  src/Security/Voter/IgnoreOriginInstanceRuleVoter.php
  templates/IgnoreOriginInstanceRule/edit.html.twig
  templates/IgnoreOriginInstanceRule/index.html.twig
  templates/layout.html.twig
  tests/Security/Voter/AdminVoterTest.php
  tests/Security/Voter/IgnoreOriginInstanceRuleVoterTest.php
Labels: Ready for review

#7367 Translations update from Hosted Weblate
  translations/messages.zh_Hant.yml
Labels: Translations

#7374 Translations update from Hosted Weblate
  translations/CraueConfigBundle.pt.yml
  translations/CraueConfigBundle.zh_Hant.yml
  translations/messages.zh_Hant.yml
Labels: Translations

#7392 Setup Composer dependency analyser
  .github/workflows/coding-standards.yml
  app/config/services_test.yml
  composer-dependency-analyser.php
  composer.json
  composer.lock
  fixtures/AnnotationFixtures.php
  fixtures/ConfigFixtures.php
  fixtures/EntryFixtures.php
  fixtures/IgnoreOriginInstanceRuleFixtures.php
  fixtures/IgnoreOriginUserRuleFixtures.php
  fixtures/InternalSettingFixtures.php
  fixtures/SiteCredentialFixtures.php
  fixtures/TagFixtures.php
  fixtures/TaggingRuleFixtures.php
  fixtures/UserFixtures.php
  migrations/Version20161001072726.php
  migrations/Version20170511211659.php
  migrations/Version20190510141130.php
  migrations/Version20200414120227.php
Labels: Ready for review
