Repository wallabag/wallabag, pull requests merged in 2024-04, with the labels that each got.

#7393 Translations update from Hosted Weblate
  translations/CraueConfigBundle.it.yml
  translations/messages.it.yml
  translations/messages.zh_Hant.yml
Labels: Translations

#7395 Prepare 2.6.9
  CHANGELOG.md
  app/config/wallabag.yml
  composer.lock
Labels: Ready for review

#7220 Fix schema validation
  app/config/services.yml
  migrations/Version20161024212538.php
  migrations/Version20161214094402.php
  migrations/Version20170606155640.php
  migrations/Version20240310150000.php
  src/Doctrine/WallabagMigration.php
  src/Entity/Api/AccessToken.php
  src/Entity/Api/AuthCode.php
  src/Entity/Api/RefreshToken.php
  src/Entity/Config.php
  src/Entity/Entry.php
  src/Entity/IgnoreOriginUserRule.php
  src/Entity/InternalSetting.php
  src/Entity/SiteCredential.php
  src/Entity/Tag.php
  src/Event/Subscriber/SchemaAdapterSubscriber.php
  tests/bootstrap.php
Labels: Ready for review, topic: migration

#7376 Use IsGranted in SiteCredentialController
  src/Controller/SiteCredentialController.php
  src/Security/Voter/MainVoter.php
  src/Security/Voter/SiteCredentialVoter.php
  templates/SiteCredential/edit.html.twig
  templates/SiteCredential/index.html.twig
  templates/layout.html.twig
  tests/Security/Voter/MainVoterTest.php
  tests/Security/Voter/SiteCredentialVoterTest.php
Labels: Ready for review

#7196 Improve install command
  app/config/config_test.yml
  app/config/parameters_test.yml
  app/config/services.yml
  app/config/tests/parameters_test.sqlite.yml
  src/Command/InstallCommand.php
  tests/Command/InstallCommandTest.php
  tests/WallabagTestCase.php
Labels: Ready for review

#7396 Translations update from Hosted Weblate
  translations/CraueConfigBundle.zh_Hant.yml
Labels: Translations

#7415 Translations update from Hosted Weblate
  translations/messages.zh_Hant.yml
Labels: Translations

#7427 Don't bother @tcitworld anymore
  .github/dependabot.yml
Labels: Ready for review, Meta
