Repository wallabag/wallabag, pull requests merged in 2025-06, with the labels that each got.

#8220 Show display name on shared entries instead of username
  templates/Entry/share.html.twig
Labels: Improvement, UI

#8213 Translations update from Hosted Weblate
  translations/CraueConfigBundle.kab.yml
  translations/messages.kab.yml
  translations/messages.nl.yml
  translations/messages.pl.yml
  translations/validators.kab.yml
  translations/wallabag_user.kab.yml
Labels: Translations

#8252 Translations update from Hosted Weblate
  translations/messages.nl.yml
Labels: Translations

#8254 Translations update from Hosted Weblate
  translations/CraueConfigBundle.nl.yml
  translations/messages.nl.yml
  translations/wallabag_user.nl.yml
Labels: Translations

#8267 Fix deprecation
  app/DoctrineMigrations/Version20170511211659.php
Labels: Ready for review

#8266 Translations update from Hosted Weblate
  translations/messages.gl.yml
  translations/messages.pl.yml
Labels: Translations

#8272 Translations update from Hosted Weblate
  translations/CraueConfigBundle.nl.yml
  translations/messages.nl.yml
  translations/wallabag_user.nl.yml
Labels: Translations

#8306 Translations update from Hosted Weblate
  translations/messages.ko.yml
Labels: Translations

#8326 Translations update from Hosted Weblate
  translations/messages.cs.yml
Labels: Translations
